.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
 
}

.logo img {
  max-width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  /* Adjust max-width as needed */
}



/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-top: 20px;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}


@media screen and (max-width: 768px) {
  .hide1 {
    display: none;
  }
}




.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  float: left;
}

.option {
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #ddd;
  padding: 10px;
  border-radius: 5px;
}

.sub-options {
  margin-top: 10px;
  padding-left: 10px;
}

.sub-options div {
  margin-bottom: 5px;
}

.dropdown {
  display: none; 
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.has-children:hover .dropdown {
  display: block; 
}

.btn-bubble {
  border-radius: 30px;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}


.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px 20px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  z-index: 9999;
}


/* Navbar Buttons */
.site-menu .nav-link,
.site-menu .dropdown .nav-link,
.site-menu .dropdown .dropdown-toggle {
  color: #000;
  font-weight: 500;
  padding: 10px 15px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  transition: 0.3s;
}

.site-menu .nav-link:hover,
.site-menu .dropdown .nav-link:hover,
.site-menu .dropdown .dropdown-toggle:hover {
  color: #007bff;
}

.site-menu .dropdown-toggle::after {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}

.site-menu .dropdown-toggle:hover::after {
  transform: rotate(180deg);
}

.site-menu .dropdown-toggle::after {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  transition: 0.4s;
}

/* Menu Button */
.navbar-toggler {
  color: #333;
  border: none;
  background: transparent;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler span {
  background: #333;
  display: block;
  width: 22px;
  height: 2px;
  margin: 4px 0;
  transition: 0.4s;
}

.navbar-toggler span:nth-child(2) {
  width: 16px;
}

.navbar-toggler:hover span {
  background: #007bff;
}



/* Navbar Dropdown Menu */
.dropdown-menu {
  background-color: #fff;
}

.dropdown-menu .nav-link {
  width: 100px;
  text-align: center;
}

.dropdown-menu .nav-link:hover {
  background-color: #f2f2f2;
}